#include "resource.h"


IDI_APP_ICON		ICON		"overlord.ico"
IDB_LOGO			BITMAP		"logo.png"

IDM_MENU			MENU		
{
POPUP "&1"
{
	MENUITEM "123", 2
	MENUITEM SEPARATOR
	MENUITEM "123", 3
	MENUITEM SEPARATOR
	MENUITEM "123", 1
}

POPUP "&2"
{
	MENUITEM "123", 2
	MENUITEM SEPARATOR
	MENUITEM "123", 3
	MENUITEM SEPARATOR
	MENUITEM "123", 1
	MENUITEM SEPARATOR
	MENUITEM SEPARATOR
	MENUITEM SEPARATOR
	MENUITEM SEPARATOR
	MENUITEM SEPARATOR
}

POPUP "&3"
{
	MENUITEM "123", 2
	MENUITEM "123", 3
	MENUITEM "123", 1
}

POPUP "&Help"
{
	MENUITEM "&About", IDM_ABOUT
	MENUITEM "123", 3
	MENUITEM "123", 1
}
}

IDM_ABOUT			DIALOGEX	30, 30, 100, 50
STYLE WS_POPUP | WS_CAPTION | WS_BORDER
CAPTION "About"
{
CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 0, 0, 100, 50
CONTROL "OK", IDM_ABOUT_ctrl1, "BUTTON", BS_DEFPUSHBUTTON, 10, 20, 20, 20
}