#include "resource.hpp"
//#pragma code_page(cp866)

ID_APP_ICON		ICON		"overlord.ico"
IDB_LOGO		BITMAP		"logo.bmp"
IDB_LOGO2		BITMAP		"logo2.bmp"
manifest		RT_MANIFEST	"manifest.xml"

IDA_ACCEL			ACCELERATORS
{
VK_F1, ID_KEY_1, VIRTKEY //f1
VK_F2, ID_KEY_2, VIRTKEY //f2
VK_F4, ID_KEY_100, ALT, VIRTKEY //alt+f4
}
#define	IDISTRING1 "Открыть"

IDM_MENU			MENU		
{
POPUP "&Файл"
{
	MENUITEM IDISTRING1, IDI_OPENFILE
	MENUITEM "Сохранить", IDI_SAVEFILE
//	MENUITEM "Создать", IDI_CREATEFILE
//	MENUITEM "Сохранить как", 4
	MENUITEM "Закрыть файл (без сохранения)", IDI_CLOZEFILE
	MENUITEM "reserved", 6
	MENUITEM SEPARATOR
	MENUITEM "&Выход", IDI_EXIT
}

POPUP "&Вид"
{
	MENUITEM "Язык (Language)", 1
	MENUITEM "Информация о файле", 2
	MENUITEM SEPARATOR
	MENUITEM "reserved", 3
	MENUITEM "reserved", 4

}

POPUP "&Инструменты"
{
	MENUITEM "&Отобразить консоль", IDI_CONSOLE_SHOW
	MENUITEM "&Скрыть консоль", IDI_CONSOLE_HIDE
	MENUITEM SEPARATOR
	MENUITEM "reserved", 2
	MENUITEM "reserved", 3
	MENUITEM "reserved", 4
}

POPUP "&Помощь"
{
	MENUITEM "&О программе", IDDLG_ABOUT
	MENUITEM SEPARATOR
	MENUITEM "reserved", 1
	MENUITEM "reserved", 2
	MENUITEM "reserved", 3
}
}

IDM_MENU_CONSOLE			MENU		
{
POPUP "&Файл"
{
	MENUITEM "Сохранить вывод консоли", 1
	MENUITEM "reserved", 2
	MENUITEM SEPARATOR
	MENUITEM "&Выход", IDI_EXIT
}

POPUP "&Вид"
{
	MENUITEM "Язык (Language)", 1
	MENUITEM SEPARATOR
	MENUITEM "reserved", 3
}

POPUP "&Инструменты"
{
	MENUITEM "&Скрыть консоль", 	IDI_CONSOLE_HIDE
	MENUITEM "&Очистить консоль", 	IDI_CONSOLE_CLEAR
	MENUITEM SEPARATOR
	MENUITEM "reserved", 2
	MENUITEM "reserved", 3
	MENUITEM "reserved", 4
}

POPUP "&Помощь"
{
	//MENUITEM "&О программе", IDDLG_ABOUT
	MENUITEM SEPARATOR
	MENUITEM "reserved", 1
	MENUITEM "reserved", 2
	MENUITEM "reserved", 3
}
}

IDDLG_ABOUT			DIALOGEX	CX_ABOUT_DLG, CY_ABOUT_DLG, X_ABOUT_DLG, Y_ABOUT_DLG
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "О программе"
FONT 10, "MS Sans Serif", 0, 0, 0x1
{
CONTROL "\n Редактор сохранений. \n Игра: Overlord. \n Версии: 0.4 \n ", -1, "STATIC", WS_EX_TRANSPARENT | SS_CENTER, 0, 0, 100, 50
CONTROL "IDB_LOGO2", -1, "STATIC", SS_BITMAP, 100, 0, -1, -1

CONTROL "\n Автор: Librianets", -1, "STATIC", WS_EX_TRANSPARENT | SS_CENTER, 0, 50, 200, 20
CONTROL "\n Реализовано:\n \
\t 1. Распаковка, запаковка\n \
\t 2. Консоль вывода доп.информации \n \n \
В стадии реализации: \n \
\t 1. Редактирование миньонов, вещей, статов \n \
\t 2. Редактирование иных особенностей игры \n \
", -1, "STATIC", WS_EX_TRANSPARENT | SS_LEFT, 0, 70, 200, 80
}

IDDLG_CONSOLE		DIALOGEX	CX_CONSOLE_DLG, CY_CONSOLE_DLG, X_CONSOLE_DLG, Y_CONSOLE_DLG
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Консоль"
FONT 10, "MS Sans Serif", 0, 0, 0x1
{
//CONTROL "", IDI_CONSOLE_EDIT, "LISTBOX", LBS_USETABSTOPS | WS_VSCROLL, 5, 5, 290, 70
CONTROL "", IDI_CONSOLE_EDIT, "EDIT", WS_VSCROLL | WS_BORDER | ES_AUTOVSCROLL | ES_MULTILINE, 5, 5, 290, 70 //| ES_READONLY
CONTROL "Отправить", IDI_GETLINECONSOLE, "BUTTON", BS_DEFPUSHBUTTON, 5, 75, 40, 13
CONTROL "", IDI_CONSOLELINE, "EDIT", ES_LEFT | WS_BORDER, 50, 75, 245, 13
}