#include "resource.hpp"
#pragma code_page(cp866)
#define x 200;

IDI_APP_ICON		ICON		"overlord.ico"
IDB_LOGO			BITMAP		"logo.bmp"
//IDB_LOGOMINI		BITMAP		"logomini.bmp"

IDM_MENU			MENU		
{
POPUP "&Файл"
{
	MENUITEM "Создать", ID_CREATEFILE
	MENUITEM "Открыть", ID_OPENFILE
	MENUITEM "Сохранить", 3
	MENUITEM "Сохранить как", 4
	MENUITEM "Закрыть файл (без сохранения)", 5
	MENUITEM "reserved", 6
	MENUITEM SEPARATOR
	MENUITEM "&Выход", ID_EXIT //ID_KEY_100
}

POPUP "&Вид"
{
	MENUITEM "Язык (Language)", 1
	MENUITEM "Информация о файле", 2
	MENUITEM SEPARATOR
	MENUITEM "reserved", 3
	MENUITEM "reserved", 4

}

POPUP "&Инструменты"
{
	MENUITEM "&Консоль", ID_CONSOLE
	MENUITEM SEPARATOR
	MENUITEM "reserved", 2
	MENUITEM "reserved", 3
	MENUITEM "reserved", 4
}

POPUP "&Помощь"
{
	MENUITEM "&О программе", ID_ABOUT
	MENUITEM SEPARATOR
	MENUITEM "reserved", 1
	MENUITEM "reserved", 2
	MENUITEM "reserved", 3
}
}

ID_ABOUT			DIALOGEX	30, 30, 200, 100
//STYLE WS_POPUP | WS_CAPTION | WS_BORDER
STYLE WS_POPUP
CAPTION "О программе"
{
CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 50, 50, 100, 50
//CONTROL "IDB_LOGOMINI", -1, "STATIC", SS_CENTERIMAGE, 0, 0, 120, 60
//CONTROL IDB_LOGOMINI, -1, "STATIC", SS_CENTERIMAGE, 0, 0, 120, 60

CONTROL "ОК", ID_ABOUT1, "BUTTON", BS_DEFPUSHBUTTON, 180, 80, 15, 10
}

ID_G_ACCEL			ACCELERATORS
{
VK_F1, ID_KEY_1, VIRTKEY //f1
VK_F2, ID_KEY_2, VIRTKEY //f2
VK_F4, ID_KEY_100, ALT, VIRTKEY //alt+f4
}

ID_LOGO			DIALOGEX	10, 10, 100, 500
STYLE WS_POPUP | WS_CAPTION | WS_BORDER
CAPTION "ЛОГО"
//STYLE WS_POPUP | WS_CAPTION | WS_BORDER
{
//CONTROL IDB_LOGO, 1, "STATIC", SS_CENTERIMAGE, 0, 0, 400, 200
CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 0, 0, 20, 20
CONTROL "", -1, "STATIC", SS_BLACKRECT, 20, 20, 30, 30
CONTROL "", -1, "STATIC", SS_WHITERECT, 50, 50, 20, 20
CONTROL "ОК", ID_ABOUT1, "BUTTON", BS_DEFPUSHBUTTON, 10, 20, 20, 20




//CONTROL "ОК", ID_ABOUT1, "BUTTON", BS_DEFPUSHBUTTON, 10, 20, 20, 20
}